<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    	<!-- Latest compiled CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        
        <link rel="stylesheet" th:href="@{/style.css}"></link>
        
        <link rel="stylesheet" th:href="@{/remark.min.css}"></link>
        
        <title>Spring Boot voting - Poll</title>
    </head>
    <body>
    	<div class="container">
    		<div class="row">
    			<h2 class="center"><span th:text="${poll.pollName}"></span></h2>
    		</div>
    		<div class="row">
    			<h4 th:text="${poll.pollQuestion}"></h4>
    		</div>
    		
	    	<div class="row">
    			<table class="table table-hover" data-selectable="selectable" data-row-selectable="true">
			    	<thead>
			    		<th></th>
			    		<th>Option</th>
			    		<th># Votes</th>
			    	</thead>
			    	<tbody>
			    		<form th:id="vote-form">
			    			<tr th:each="pollOption: ${poll.pollOptions}">
				    			<td>
					                <div class="radio-custom radio-success">
				                      <input type="radio" th:name="poll-option" th:value="${pollOption.id}"></input>
				                      <label></label>
				                    </div>
				                </td>
				    			<td th:text="${pollOption.optionName}"></td>
				    			<td th:id="'number_votes_' + ${pollOption.id}" th:text="${pollOption.optionVotes}"></td>
			    			</tr>
			    		</form>
			    		
			    	</tbody>
	    		</table>
    		</div>
    		<div class="row">
    			<div class="col-lg-10"></div>
    			<div class="col-lg-2">
    				<button id="submit-button" th:name="${poll.id}" type="button" class="btn btn-block btn-info">Submit</button>
    			</div>
    		</div>
	    	
    	</div>
        
        
        <!-- jQuery library -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <!-- Jquery logic for submiting data -->
        <script type="text/javascript" th:src="@{/logic.js}"></script>
    </body>
</html>